*.iml
/.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild

app/debug/
app/.cxx/
app/development/debug/
app/development/release/
app/rc/debug/
app/rc/release/
app/APK
app/production/debug/
app/production/release/
theoplayer/build/
*.hprof

player/build/
fonts/build/
gradle/wrapper/gradle-wrapper.properties
